
<h1>Listing lessons</h1>

<%= link_to 'New lesson', new_lesson_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.title %></td>
      <td><%= lesson.text %></td>
      <td><%= link_to 'Show', lesson_path(lesson) %></td>
      <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
      <td><%= lesson_path(lesson) %></td>
      <td><%= link_to 'Destroy', lesson_path(lesson),
              method: :delete,
              data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>